@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes downFull {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes downFull {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes upFull {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes upFull {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes heightUp {
  0% {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

@keyframes heightUp {
  0% {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

@-webkit-keyframes widthGrowth {
  0% {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes widthGrowth {
  0% {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes BgUp {
  to {
    background-position: 50% 0;
  }
}

@keyframes BgUp {
  to {
    background-position: 50% 0;
  }
}

@-webkit-keyframes BgDown {
  0% {
    background-size: 100% 0;
  }

  to {
    background-size: 100% var(--block-height);
  }
}

@keyframes BgDown {
  0% {
    background-size: 100% 0;
  }

  to {
    background-size: 100% var(--block-height);
  }
}

@-webkit-keyframes swiper-preloader-spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -200%;
  }
}

//=======================koc added 2024.7.10===================//

/* ----------------------------------------------
 * Generated by Animista on 2024-7-9 13:8:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

//============================== animation ============================//
.hover-animate {
  transition: transform 0.3s ease;
}

.hover-animate:hover {
  animation: hoverAnimation 0.3s ease-in-out;

  // background: linear-gradient(
  //   90deg,
  //   rgba(5, 67, 100, 0.1) 0%,
  //   rgba(5, 67, 100, 0) 100%
  // );
  // opacity: 70%;
}

.hover-animate-back {
  transition: transform 0.3s ease;
}
.hover-animate-back:hover {
  animation: hoverAnimation 0.3s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(5, 67, 100, 0.1) 0%,
    rgba(5, 67, 100, 0) 100%
  );
  // opacity: 70%;
}
