@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/exo-2");
@import url("https://fonts.cdnfonts.com/css/roboto");

// @import url("https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@400;700&display=swap");

@import "variables";
@import "mixins";
@import "animation";
@import "reset";

* {
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

//================================= header container =================================================//

header {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 20% 30% 30% 1fr;
  padding: 0 20px;
  width: 100%;
  height: 94px;
  background: linear-gradient(
    180deg,
    #191e1e 0%,
    rgba(25, 30, 30, 0.79) 34.16%,
    rgba(25, 30, 30, 0.26) 65.16%,
    rgba(25, 30, 30, 0) 100%
  );
  .toprightbtn {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: linear-gradient(137.45deg, #e2ffbd -3.86%, #d70000 104.67%);
  }
}

@media all and (min-width: 350px) {
  header {
    // display: flex;
    // flex-direction: row;
    // display: grid;
    // // grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: 45% 1fr 1fr 1fr;
    // column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: auto;
    width: 100%;
    height: 94px;
    .toprightbtn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      width: 32px;
      height: 32px;
      border-radius: 100px;
      background: linear-gradient(137.45deg, #e2ffbd -3.86%, #d70000 104.67%);
    }
  }
}

@media all and (min-width: 768px) {
  header {
    grid-template-columns: 45% 1fr 1fr 10%;
    column-gap: 20px;
  }
}
@media all and (min-width: 1440px) {
  header {
    grid-template-columns: 45% 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: auto;
    width: 100%;
    height: 94px;
    .toprightbtn {
      display: none;
    }
  }
}
//================================= main container =================================================//

.main-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  .main-topcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    width: 100%;
  }
  .main-botcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    width: 100%;
  }
}

@media all and (min-width: 560px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
    .main-topcontainer {
      // grid-template-columns: 66% 34%;
      display: grid;
      grid-template-columns: 66% 1fr;
      column-gap: 20px;
    }
    .main-botcontainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media all and (min-width: 1600px) {
  .main-container {
    .main-topcontainer {
      // grid-template-columns: 66% 34%;
      display: grid;
      grid-template-columns: 56.2% 1fr;
      column-gap: 20px;
    }
  }
}

// ===================daily card ===============================//
.dailyCard {
  width: 100%;

  &-body {
    background: rgba(25, 30, 30, 1);
    background-image: radial-gradient(
        50.31% 50.31% at 50% 52.98%,
        #fecb5b 0%,
        rgba(17, 23, 18, 0) 100%
      ),
      url("../assets/image/vector.png");
    background-repeat: no-repeat, no-repeat;
    background-size:
      100% 100%,
      100% 100%;
    background-position-x: center, center;
    background-position-y:
      -70px,
      -20px;
    background-blend-mode: overlay;
    box-shadow: 0px 10px 20px 0px #00000026;
    border: 1px solid rgba(125, 149, 150, 0.24);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    margin: auto;
    .dailyreward {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      margin: auto;
      &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        &_div {
          font-family: "Clash Grotesk", "Courier New", Courier, monospace;
          font-size: 42px;
          font-weight: 600;
          line-height: 46.2px;
          text-align: center;
          color: rgba(254, 203, 91, 1);
          text-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 1);
        }
      }
      &-timer {
        width: 100%;
        margin-top: 24px;
        padding: 0 24px;
        border-radius: 12px;
        height: 181px;
        gap: 24px;
        background-color: rgba(25, 30, 30, 1);
        border: 1px solid rgba(198, 193, 174, 0.08);
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.32) inset;
        &_p {
          //styleName: Desktop/Default Body Copy;
          width: 100%;
          margin-top: 16px;
          padding: 0 24px;
          font-family: "Clash Grotesk", "Courier New", Courier, monospace;
          font-size: 18px;
          font-weight: 500;
          line-height: 22.14px;
          text-align: center;
          color: rgba(125, 149, 150, 1);
        }
        &-time {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 16px;
          padding: 0 4px;
        }
      }
      &-percent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        width: 100%;
        &-pro {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 31%;
          height: 38px;
          padding: 8px, 16px, 8px, 16px;
          gap: 8px;
          border-radius: 16px;
          background: rgba(17, 23, 18, 1);
          border: 1px solid rgba(31, 34, 33, 1);
          padding: 0 8px;

          &_div {
            //styleName: Desktop/Small Body Copy;
            font-family: "Clash Grotesk", "Courier New", Courier, monospace;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.68px;
            text-align: center;
            color: rgba(125, 149, 150, 1);
          }
          &_span {
            //styleName: Desktop/Default Body Copy;
            font-family: "Clash Grotesk", "Courier New", Courier, monospace;
            font-size: 18px;
            font-weight: 500;
            line-height: 22.14px;
            text-align: center;
            color: rgba(254, 203, 91, 1);
          }
        }
        &-coin {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 47.3%;
          height: 38px;
          padding: 0 8px;
          border-radius: 16px;
          background: rgba(17, 23, 18, 1);
          border: 1px solid rgba(31, 34, 33, 1);
          &_div {
            //styleName: Desktop/Small Body Copy;
            font-family: "Clash Grotesk", "Courier New", Courier, monospace;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.68px;
            text-align: center;
            color: rgba(125, 149, 150, 1);
          }
          &_span {
            //styleName: Desktop/Default Body Copy;
            font-family: "Clash Grotesk", "Courier New", Courier, monospace;
            font-size: 18px;
            font-weight: 500;
            line-height: 22.14px;
            text-align: center;
            color: rgba(254, 203, 91, 1);
          }
        }
      }
      &-claimbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 46px;
        border-radius: 16px;
        margin-top: 16px;
        padding: 12px, 24px, 12px, 24px;
        gap: 8px;
        background: rgba(40, 44, 44, 1);
        border: 1px solid rgba(25, 30, 30, 1);
      }
      &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18px;
        margin: 16px 0;
        gap: 4px;
        &_label {
          //styleName: Mobile/Headline 6;
          font-family: "Clash Grotesk", "Courier New", Courier, monospace;
          font-size: 16px;
          font-weight: 500;
          line-height: 17.6px;
          text-align: center;
          color: rgba(198, 193, 174, 1);
        }
      }
    }
  }
}
// @media all and (min-width: 560px) {
//   .dailyCard {
//     width: 50%;
//   }
// }
//=================== active wallet ============================//
.main-topcontainer_bottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  width: 100%;
  margin-top: 16px;

  .activeWallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #191e1e;
    border: 1px solid #7d95963d;
    padding: 0 24px;
    &-top {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 10px;
      width: 100%;
      &-title {
        //styleName: Desktop/Headline 5;
        font-family: "Clash Grotesk", "Courier New", Courier, monospace;
        font-size: 24px;
        font-weight: 500;
        line-height: 26.4px;
        text-align: center;
        color: #ffffff;
        margin-top: 24px;
      }
      &-time {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 16px;

        &-seg {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          position: relative;
        }
      }
    }
    &-moreinfo {
      &_btn {
        display: flex;
      }
      &_content {
        display: none;
      }
    }
  }

  //=================== active xp pot section ============================//

  .activexppot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    padding: 24px;
    border-radius: 24px;
    gap: 24px;
    background: #191e1e;
    border: 1px solid #7d95963d;
    width: 100%;
    &-title {
      //styleName: Desktop/Headline 5;
      font-family: "Clash Grotesk", "Gill Sans", "Gill Sans MT", Calibri,
        "Trebuchet MS", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 26.4px;
      text-align: left;
      color: #ffffff;
    }
    &-input {
      width: 100%;
      height: 54px;
      gap: 16px;
      &_input {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        padding: 0 20px;
        border: 1px solid #c6c1ae14;
        background: #111712;
        box-shadow: 0px 0px 32px 0px #00000052 inset;
      }
    }
  }
}

@media all and (min-width: 560px) {
  .main-topcontainer_bottom {
    margin-top: 0;
  }
}
@media all and (min-width: 1600px) {
  .main-topcontainer_bottom {
    .activeWallet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: #191e1e;
      border: 1px solid #7d95963d;
      padding: 0 24px;
      &-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        width: 100%;
        transition:
          width 0.3s ease,
          background-color 0.3s ease,
          margin-left 0.3s ease;
        &-title {
          //styleName: Desktop/Headline 5;
          font-family: "Clash Grotesk", "Courier New", Courier, monospace;
          font-size: 24px;
          font-weight: 500;
          line-height: 26.4px;
          text-align: center;
          color: #ffffff;
          margin-top: 24px;
        }
        &-time {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 16px;

          &-seg {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
          }
        }
      }
      &-moreinfo {
        &_btn {
          display: none;
        }
        &_content {
          display: block;
        }
      }
    }
  }
}
// ==================================  media queries for entire container ===========================//
.show_left {
  transition:
    width 0.3s ease,
    background-color 0.3s ease,
    margin-left 0.3s ease;
  display: none;
}
.show_right {
  display: none;
}
@media all and (min-width: 900px) {
  .show_left {
    transition:
      width 0.3s ease,
      background-color 0.3s ease,
      margin-left 0.3s ease;
    display: flex;
  }
}
@media all and (min-width: 1200px) {
  .show_right {
    display: block;
  }
}

