* {
  box-sizing: border-box;
}
.form-image {
  background: linear-gradient(180deg, #191e1e 0%, rgba(25, 30, 30, 0) 39.97%);
}

// ========================== Data Card scss =========================//

.datacard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: flex;
  height: 100%;
  padding: 12px 12px 12px 12px;
  &-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-left {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      &-title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        &_icon {
          width: 16px;
          height: 16px;
          object-fit: cover;
        }
        &_text {
          //styleName: Desktop/Label or subtext;
          font-family:
            Clash Grotesk,
            "Courier New",
            Courier,
            monospace;
          font-size: 14px;
          font-weight: 400;
          line-height: 17.22px;
          text-align: center;
          color: rgba(255, 255, 255, 1);
          padding-left: 10px;
        }
      }
      &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 4px;
        //styleName: Desktop/Headline 6;
        font-family:
          Clash Grotesk,
          "Courier New",
          Courier,
          monospace;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
    }
    &-right {
      display: flex;
      align-items: normal;
      width: 20px;
      height: 2px;
    }
  }
  &-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 12px;
    width: 100%;
    height: 61px;
    background: rgba(17, 23, 18, 1);
    border: 1px solid rgba(255, 192, 203, 0.16);
    &-level {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &_div {
        //styleName: Desktop/Label or subtext;
        font-family:
          Clash Grotesk,
          "Courier New",
          Courier,
          monospace;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.22px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
      }
      &_span {
        //styleName: Desktop/Label or subtext;
        font-family: Clash Grotesk;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.22px;
        text-align: center;
        color: rgba(255, 192, 203, 1);
      }
    }
    &-levelbar {
      position: relative;
      width: 100%;
      height: 10px;
      border-radius: 100px;
      &_prog {
        height: 100%;
        border-radius: 100px;
        z-index: 100;
        opacity: 80%;
      }
      &_back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        z-index: 110;
        opacity: 20%;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    &-left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 65%;
      height: 42px;
      border-radius: 16px;
      padding: 5px;
      gap: 8px;

      &_img {
        width: 16px;
        height: 16px;
        object-fit: cover;
      }
      &_span {
        //styleName: Desktop/Default Body Copy;
        font-family:
          Clash Grotesk,
          "Courier New",
          Courier,
          monospace;
        font-size: 12px;
        font-weight: 500;
        line-height: 22.14px;
        text-align: center;
        color: rgba(17, 23, 18, 1);
      }
    }
    &-right {
      width: 42px;
      height: 42px;
    }
  }

  .greenback {
    background: #69be90;
    border: 1px solid rgba(105, 190, 144, 1);
  }
  .grayback {
    background: rgba(255, 192, 203, 1);
    border: 1px solid rgba(255, 192, 203, 1);
  }
  .greenfont {
    color: #69be90;
  }
  .grayfont {
    color: rgba(255, 192, 203, 1);
  }
  .greenborder {
    border-color: #69be90;
  }
  .grayborder {
    border-color: #ffc0cb;
  }
}

@media all and (min-width: 560px) {
}

@media all and (min-width: 560px) {
}
